<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.ucc.bis.supportinglife"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >
  
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
 
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Transparent" >
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.SplashActivity"
            android:theme="@style/Theme.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.HomeActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.RecordPatientDetailsActivity"
            android:label="@string/activity_title_record_patient_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.ImciAssessmentActivity"
            android:label="@string/activity_title_record_imci_assessment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.CcmAssessmentActivity"
            android:label="@string/activity_title_record_ccm_assessment"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.ImciAssessmentResultsActivity"
            android:label="@string/activity_title_imci_assessment_results"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.CcmAssessmentResultsActivity"
            android:label="@string/activity_title_ccm_assessment_results"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.SubmitPatientRecordActivity"
            android:label="@string/activity_title_submit_patient_record"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.AboutActivity"
            android:label="@string/activity_title_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.TrainingActivity"
            android:label="@string/activity_title_training"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.SettingsActivity"
            android:label="@string/activity_title_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.supportinglife.activity.VideoViewerActivity"
            android:label="@string/activity_title_video_viewer"
            android:screenOrientation="landscape" >
        </activity>
    </application>
 
</manifest>