<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.ucc.bis"
    android:versionCode="2"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET">      
    </uses-permission>    
    
    <application android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="ie.ucc.bis.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="ie.ucc.bis.RecordPatientDetailsActivity"
            android:label="@string/title_record_patient_details"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        
        <activity android:name="ie.ucc.bis.SubmitPatientRecordActivity"
            android:label="@string/title_submit_patient_record"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        
        <activity android:name="ie.ucc.bis.AboutActivity"
            android:label="@string/title_about"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>         
        
    </application>

</manifest>