<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.ucc.bis"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Transparent" >
        <activity
            android:name="ie.ucc.bis.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.ucc.bis.activity.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ie.ucc.bis.activity.RecordPatientDetailsActivity"
            android:label="@string/activity_title_record_patient_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.activity.AssessmentWizardActivity"
            android:label="@string/activity_title_record_patient_details_wizard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="ie.ucc.bis.activity.SubmitPatientRecordActivity"
            android:label="@string/activity_title_submit_patient_record"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.activity.AboutActivity"
            android:label="@string/activity_title_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ie.ucc.bis.activity.TrainingActivity"
            android:label="@string/activity_title_training"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>